.user__content {
  padding: 20px;

  &__cards {
    display: flex;

    &__total {
      display: flex;
      flex-wrap: wrap;

      padding-left: 50px;
    }
  }
  &__history {
    padding-top: 20px;
  }
}