.lastHistory {

  &__content {

    &__text {

      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 22px;
        color: #333b69;
      }
    }
    &__cards {
      margin: 20px 0;
      background: #fff;
      border-radius: 25px;

      &__info {
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {

          h1 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: #232323;
          }
          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            color: #718ebf;

            padding-top: 7px
          }
        }
        &__transfer {

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #718ebf;
          }
        }
        &__number {

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #718ebf;
          }
        }
        &__status {

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #718ebf;
          }
        }
        &__money {

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #718ebf;
          }
        }
      }
    }
  }
}
